@model IEnumerable<EMSApp.Models.POSITIONAL_INFO>
@{
    ViewBag.Title = "Employee Position";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid" style="padding-top:15px">
    <div class="row">
        <div class="col-md-3">
            <p class="btn btn-block btn-outline-success btn-md">
                @Html.ActionLink("Create New", "Create")
            </p>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Employee Position</h4>
                    <div class="table-responsive">
                        <table class="table color-bordered-table primary-bordered-table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        Employee
                                    </th>
                                    <th>
                                        Division
                                    </th>
                                    <th>
                                        Position
                                    </th>
                                    <th>
                                        Basic Salary
                                    </th>
                                    @*<th></th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                <tr>
                                    <td>
                                        @Html.ActionLink("View", "Edit", new { id = item.POSITION_ID })
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EMPLOYEE_INFO.EMPLOYEE_NAME)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DIVISION_INFO.DIV_TITLE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.POSITION_TITLE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BASIC_SALARY)
                                    </td>
                                    @*<td>
                                        @Html.ActionLink("Delete", "Delete", new { id = item.POSITION_ID })
                                    </td>*@
                                </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
