@model IEnumerable<EMSApp.Models.POSITIONAL_INFO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EMPLOYEE_INFO.EMPLOYEE_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIVISION_INFO.DIV_TITLE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.POSITION_TITLE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BASIC_SALARY)
        </th>
       <th>Action</th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.EMPLOYEE_INFO.EMPLOYEE_NAME)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DIVISION_INFO.DIV_TITLE)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.POSITION_TITLE)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BASIC_SALARY)
    </td>
    <td>
        @Html.ActionLink("View", "Edit", new { id = item.POSITION_ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.POSITION_ID })
    </td>
</tr>
        }
    }

</table>
