@model IEnumerable<EMSApp.Models.UserModel.SalaryInfo>

@{
    ViewBag.Title = "All Employee Salary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="col-md-12" style="padding-top:15px">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Filters</h3>
            <hr />
            <div class="" style="font-weight:900">@Html.ValidationSummary(true, "", new { @class = "text-danger alert alert-danger" })</div>
            <div class="row">
                <div class="col-md-4">
                    @Html.DropDownList("MONTH", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.DropDownList("YEAR", null, htmlAttributes: new { @class = "form-control" })
                </div>                
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success waves-effect waves-light m-t-10 pull-right">Search</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12" style="padding-top:15px">
        <div class="card">
            <div class="col-md-12">
                <button type="button" class="btn btn-warning waves-effect waves-light m-t-10 pull-right" onclick=" printDiv()">Print</button>
            </div>
            <div class="card-body">                
                <h3 class="card-title">Employee Salary Report of @ViewBag.STR</h3>
                <div class="table-responsive" id="DivIdToPrint">
                    <table class="color-table info-table" width="100%" border="1">
                        <thead>
                            <tr>
                                <th>
                                    Employee
                                </th>
                                <th>
                                    Basic Salary
                                </th>
                                <th>
                                    Gross Salary
                                </th>
                                <th>
                                    Benifits
                                </th>
                                <th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EMPLOYEE_NAME)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BASIC_SALARY)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.GROSS_SALARY)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SALARY_GRADE_SETUP)
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        function printDiv() {

            var divToPrint = document.getElementById('DivIdToPrint');
            var newWin = window.open('', 'Print-Window');
            newWin.document.open();
            newWin.document.write('<html><body onload="window.print()">' +'<h2>Employee Salary Report<h2/><br/>'+ divToPrint.innerHTML + '</body></html>');
            newWin.document.close();
            setTimeout(function () { newWin.close(); }, 10);
        }
    </script>
}

