@model IEnumerable<EMSApp.Models.UserModel.AttendanceClass>
@{
    ViewBag.Title = "Monthly Attendance Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-md-12" style="padding-top:15px">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Filters</h3>
            <hr />
            <div class="" style="font-weight:900">@Html.ValidationSummary(true, "", new { @class = "text-danger alert alert-danger" })</div>
            <div class="row">
                <div class="col-md-4">
                    @Html.DropDownList("MONTH", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.DropDownList("YEAR", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.DropDownList("EMPLOYEE_ID", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success waves-effect waves-light m-t-10 pull-right">Search</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="col-md-12">
                <button type="button" class="btn btn-warning waves-effect waves-light m-t-10 pull-right" onclick=" printDiv()">Print</button>
            </div>
            <div class="card-body">
                <h3 class="card-title">Attandence @ViewBag.STR</h3>
                <div class="table-responsive" id="DivIdToPrint">
                    <table class="color-table info-table" width="100%" border="1">
                        <thead>
                            <tr>
                                <th>
                                    SL No.
                                </th>
                                <th>Date</th>
                                <th>Employee Name</th>
                                <th>Check In</th>
                                <th>Check Out</th>
                                <th>Total Working Hour</th>
                                <th>Break</th>
                                <th>Active Working Hour</th>
                                <th>Less Work</th>
                                <th>Over Time </th>
                                <th>Late Arrival</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                int count = 0;
                                foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        @{ if (string.IsNullOrEmpty(item.ATT_DATE))
                                            {
                                                count = 0;
                                                <td></td>
                                            }
                                            else
                                            {
                                                <td>@count</td>
                                            }
                                        }

                                        <td>
                                            @Html.DisplayFor(modelItem => item.ATT_DATE)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EMPLOYEE_NAME)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.CHECK_IN_TIME)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CHECK_OUT_TIME)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TOTAL_WORKING_HOUR)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TOTAL_BREAK)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PERDAY_WORKING_HOUR)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LESS_WORK)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OVER_TIME)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LATE_ARRIVED)
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        function printDiv() {

            var divToPrint = document.getElementById('DivIdToPrint');
            var newWin = window.open('', 'Print-Window');
            newWin.document.open();
            newWin.document.write('<html><body onload="window.print()">' +'<h2>Attendance of @ViewBag.STR<h2/><br/>'+ divToPrint.innerHTML + '</body></html>');
            newWin.document.close();
            setTimeout(function () { newWin.close(); }, 10);

        }
    </script>
}

