@model IEnumerable<EMSApp.Models.UserModel.EmployeeReport>

@{
    ViewBag.Title = "Employee Demographic Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-md-12" style="padding-top:15px">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Filters</h3>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    @Html.DropDownList("EMPLOYEE_ID", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.DropDownList("IS_DELETED", new SelectListItem[]
                     {
                                     new SelectListItem { Text = "Select Status", Value="" },
                                    new SelectListItem { Text = "Active", Value=EMSApp.Helper.ConstantValue.UserStatusActive },
                                    new SelectListItem{ Text="Deactive",Value=EMSApp.Helper.ConstantValue.UserStatusDeactive },},
                         htmlAttributes: new { @class = "form-control" })
                </div>
                <button type="submit" class="btn btn-success waves-effect waves-light m-t-10 pull-center">Search</button>
            </div>
        </div>
    </div>
    if (Model != null)
    {
        foreach (var item in Model)
        {
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-outline-info">
                        <div class="card-header">
                            <h4 class="m-b-0 text-white">Employee All Details</h4>
                        </div>
                        <div class="card-body">
                            <form role="form" class="form-horizontal" style="text-align:left">
                                <div class="form-body">
                                    <h3 class="box-title">Personal Details</h3>
                                    <hr class="m-t-0 m-b-40">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Name</label>
                                                <div class="col-md-9">
                                                    <p class="form-control-static">@item.EMPLOYEE_NAME</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group has row">
                                                <label class="control-label text-right col-md-3">Address</label>
                                                <div class="col-md-9">
                                                    <p class="form-control-static">@item.ADDRESS</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Contact</label>
                                                <div class="col-md-9">
                                                    <p class="form-control-static">@item.CONTACT</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group has row">
                                                <label class="control-label text-right col-md-3">Email</label>
                                                <div class="col-md-9">
                                                    <p class="form-control-static">@item.EMAIL</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group has row">
                                                <label class="control-label text-right col-md-3">Date of Birth</label>
                                                <div class="col-md-9">
                                                    <p class="form-control-static">@item.DOB</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">NID</label>
                                                <div class="col-md-9">
                                                    <p class="form-control-static">@item.NID</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->

                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">City</label>
                                                <div class="col-md-9">
                                                    <p class="form-control-static">@item.CITY</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group has row">
                                                <label class="control-label text-right col-md-3">Postal Code</label>
                                                <div class="col-md-9">
                                                    <p class="form-control-static">@item.POSTAL_CODE</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Gender</label>
                                                <div class="col-md-9">
                                                    <p class="form-control-static">@item.GENDER_TEXT</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group has row">
                                                <label class="control-label text-right col-md-3">Marital Status</label>
                                                <div class="col-md-9">
                                                    <p class="form-control-static">@item.MARITALA_STATUS_TEXT</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Nationality</label>
                                                <div class="col-md-9">
                                                    <p class="form-control-static">@item.NATIONALITY</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group has row">
                                                <label class="control-label text-right col-md-3">Blood Group</label>
                                                <div class="col-md-9">
                                                    <p class="form-control-static">@item.BLOOD_GROUP</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <h3 class="box-title">Official Info</h3>
                                    <hr class="m-t-0 m-b-40">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Department</label>
                                                <div class="col-md-9">
                                                    <p class="form-control-static">@item.DEPT_TITLE</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group has row">
                                                <label class="control-label text-right col-md-3">Division</label>
                                                <div class="col-md-9">
                                                    <p class="form-control-static">@item.DIV_TITLE</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Designation</label>
                                                <div class="col-md-9">
                                                    <p class="form-control-static">@item.POSITION_TITLE</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group has row">
                                                <label class="control-label text-right col-md-3">Duty</label>
                                                <div class="col-md-9">
                                                    <p class="form-control-static">@item.DUTY_TYPE_TEXT</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Rate Type</label>
                                                <div class="col-md-9">
                                                    <p class="form-control-static">@item.EMPLOYEE_NAME</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group has row">
                                                <label class="control-label text-right col-md-3">Payment Frequency</label>
                                                <div class="col-md-9">
                                                    <p class="form-control-static">@item.PAY_FREQ_TEXT</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group has row">
                                                <label class="control-label text-right col-md-3">Joinning Date</label>
                                                <div class="col-md-9">
                                                    <p class="form-control-static">@item.JOINING_DATE</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Resigning Date</label>
                                                <div class="col-md-9">
                                                    <p class="form-control-static">@item.RESIGNING_DATE</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <h3 class="box-title">Increment Details</h3>
                                    <hr class="m-t-0 m-b-40">
                                    <div class="row">
                                        <div class="table-responsive">
                                            <table class="table color-bordered-table info-bordered-table">
                                                <thead>
                                                    <tr>
                                                        <th>Sl No.</th>
                                                        <th>Increment From</th>
                                                        <th>Increment Type</th>
                                                        <th>Rate</th>
                                                        <th>
                                                            Remarks
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (ViewBag.INCREMENT_INFO != null)
                                                    {
                                                        int slNo = 0;
                                                        foreach (var itemInc in (ViewBag.INCREMENT_INFO as List<EMSApp.Models.INCREMENT_INFO>))
                                                        {
                                                            slNo++;
                                                            <tr>
                                                                <td>@slNo</td>
                                                                <td>
                                                                    @itemInc.INCREMENT_FROM.ToString("dd-MM-yyyy")
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => itemInc.INCREMENT_TYPE_INFO.INCREMENT_TYPE_TITLE)
                                                                </td>
                                                                <td>
                                                                    @{
                                                                        string rateType = "";
                                                                        if (itemInc.INCREMENT_CALCULATE_AS == EMSApp.Helper.ConstantValue.SalarySetupInAmount)
                                                                        {
                                                                            rateType = " Tk.";
                                                                        }
                                                                        else
                                                                        {
                                                                            rateType = "%";
                                                                        }
                                                                    }
                                                                    @itemInc.INCREMENT_RATE@rateType
                                                                </td>
                                                                <td>
                                                                    @itemInc.REMARKS
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!--/row-->
                                    <h3 class="box-title">Paid Salary Details</h3>
                                    <hr class="m-t-0 m-b-40">
                                    <div class="row">
                                        <div class="table-responsive">
                                            <table class="table color-bordered-table info-bordered-table">
                                                <thead>
                                                    <tr>
                                                        <th>Sl No.</th>
                                                        <th>Paid</th>
                                                        <th>Gross Salary</th>
                                                        <th>Bonus</th>
                                                        <th>Addition</th>
                                                        <th>Deduction</th>
                                                        <th>Advance</th>
                                                        <th>Commission</th>
                                                        <th>Total</th>
                                                        <th>Note</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (ViewBag.SALARY_INFO != null)
                                                    {
                                                        int slNo = 0;
                                                        foreach (var itemSalr in (ViewBag.SALARY_INFO as List<EMSApp.Models.SALARY_INFO>))
                                                        {
                                                            slNo++;
                                                            <tr>
                                                                <td>@slNo</td>
                                                                <td>@itemSalr.SALARY_PAID</td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => itemSalr.GROSS_SALARY)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => itemSalr.BONUS)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => itemSalr.ADDITION)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => itemSalr.DEDUCTION)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => itemSalr.ADVANCE)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => itemSalr.COMMISSION)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => itemSalr.TOTAL)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => itemSalr.REMARKS)
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}

