@model EMSApp.Models.DEPARTMENT_INFO

@{
    ViewBag.Title = "Add New Department";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" style="padding:15px">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Department Details</h4>
                <form class="form-material m-t-40">
                    <div class="" style="font-weight:900">@Html.ValidationSummary(true, "", new { @class = "text-danger alert alert-danger" })</div>
                    <div class="com-md-6">
                        <div class="form-group">
                            Department Title
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.DEPT_TITLE, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DEPT_TITLE, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="com-md-6">
                        <div class="form-group">
                            Remarks
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.REMARKS, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.REMARKS, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="btn btn-secondary pull-center">
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>   
}

