@model IEnumerable<EMSApp.Models.DEPARTMENT_INFO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Action</th>
        <th>
            Department
        </th>
        <th>
            Remarks
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.DEPT_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.DEPT_ID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DEPT_TITLE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.REMARKS)
            </td>
        </tr>
    }

</table>
