@model EMSApp.Models.EQUEPMENTS_INFO

@{
    ViewBag.Title = "Edit Equipment Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" style="padding:15px">

        <div class="" style="font-weight:900">@Html.ValidationSummary(true, "", new { @class = "text-danger alert alert-danger" })</div>
        @Html.HiddenFor(model => model.EQUEPMENT_ID)
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Equipment Details</h4>
                <form class="form-material m-t-40">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                Asset Type
                                <div class="col-md-10">
                                    @Html.DropDownList("ASSET_ID", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ASSET_ID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                Equipment
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.EQP_TITLE, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.EQP_TITLE, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                Model No.
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.MODEL_NO, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MODEL_NO, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                Serial No
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.SERIAL_NO, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SERIAL_NO, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="form-actions">
                        <div class="btn btn-secondary pull-center">
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}


