@model IEnumerable<EMSApp.Models.EQUEPMENTS_INFO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Action</th>
        <th>
            Asset
        </th>
        <th>
            Equipment
        </th>
        <th>
            Model
        </th>
        <th>
            Serial
        </th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("View", "Edit", new { id = item.EQUEPMENT_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.EQUEPMENT_ID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ASSET_INFO.ASSET_TITLE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EQP_TITLE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MODEL_NO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SERIAL_NO)
                </td>
            </tr>
        }
    }

</table>
