@model EMSApp.Models.EMPLOYEE_INFO

@{
    ViewBag.Title = "Create New Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <style>
        #IS_DELETED {
            background-color: #202940;
        }
    </style>
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title"> Add Employee</h4>
                                <p class="card-category">Complete Employee profile</p>
                            </div>
                            <div class="card-body">
                                <form>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Full Name</label>
                                                @Html.EditorFor(model => model.EMPLOYEE_NAME, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.EMPLOYEE_NAME, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Contact</label>
                                                @Html.EditorFor(model => model.CONTACT, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                                                @Html.ValidationMessageFor(model => model.CONTACT, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Adress</label>
                                                @Html.EditorFor(model => model.ADDRESS, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.ADDRESS, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">City</label>
                                                @Html.EditorFor(model => model.CITY, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.CITY, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Postal Code</label>
                                                @Html.EditorFor(model => model.POSTAL_CODE, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.POSTAL_CODE, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Email</label>
                                                @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">NID</label>
                                                @Html.EditorFor(model => model.NID, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                                                @Html.ValidationMessageFor(model => model.NID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Designation</label>
                                                @Html.EditorFor(model => model.DESIGNATION, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.DESIGNATION, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Joining Date</label>
                                                @Html.EditorFor(model => model.JOINING_DATE, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                                @Html.ValidationMessageFor(model => model.JOINING_DATE, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group ">
                                                <label class="bmd-label-floating">Resigning Date</label>
                                                @Html.EditorFor(model => model.RESIGNING_DATE, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                                @Html.ValidationMessageFor(model => model.RESIGNING_DATE, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Status</label>
                                                @Html.DropDownList("IS_DELETED", null, htmlAttributes: new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.IS_DELETED, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        @*<div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Image</label>
                                                    @Html.EditorFor(model => model.IMAGE, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.IMAGE, "", new { @class = "text-danger" })
                                                </div>
                                            </div>*@
                                    </div>

                                    <button type="submit" class="btn btn-primary pull-right">Save</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/assets/js/datepicker.js"></script>
    <script>
    // Data Picker Initialization
$('.datepicker').pickadate();


    </script>

}
