@model IEnumerable<EMSApp.Models.EMPLOYEE_INFO>

@{
    ViewBag.Title = "All Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid" style="padding-top:15px">
    <div class="row">
        <div class="col-md-3">
            <p class="btn btn-block btn-outline-success btn-md">
                @Html.ActionLink("Create New", "Create")
            </p>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">All Employees</h4>
                    <div class="table-responsive">
                        <table class="table color-bordered-table primary-bordered-table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Contact
                                    </th>
                                    <th>
                                        Address
                                    </th>
                                    <th>
                                        Joining Date
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EMPLOYEE_NAME)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CONTACT)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ADDRESS)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.JOINING_DATE)
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
