@model IEnumerable<EMSApp.Models.USER_INFO>

@{
    ViewBag.Title = "All User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <p class="btn btn-primary pull-left">
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                Action
            </th>
            <th>
                User Name
            </th>
            <th>
                Contact
            </th>
            <th>
                User Id
            </th>
            <th>
                User Level
            </th>
        </tr>

        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink("View", "Edit", new { id = item.ID })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.USER_NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CONTACT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.USER_ID)
                    </td>
                    <td>
                        @if (item.USER_LEVEL == "a")
                        {
                            <p>Admin</p>
                        }
                        @if (item.USER_LEVEL == "e")
                        {
                            <p>Employee</p>
                        }
                    </td>
                </tr>
            }

        }

    </table>

</div>
