@model EMSApp.Models.SALARY_INFO

@{
    ViewBag.Title = "Salary Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #EMPLOYEE_ID {
        background-color: #202940;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <hr />
    <div class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Employee Salary Details</h4>
                </div>
                <div class="card-body">
                    <div id="typography">
                        <form>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Employee Name</label>
                                        @Html.DropDownList("EMPLOYEE_ID", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.EMPLOYEE_ID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Date of Salary Paid</label>
                                        @Html.EditorFor(model => model.SALARY_PAID, "{0:MM/dd/yyyy}", new { htmlAttributes = new { @class = "form-control", @type="date" } })
                                        @Html.ValidationMessageFor(model => model.SALARY_PAID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Remarks</label>
                                        @Html.EditorFor(model => model.REMARKS, new { htmlAttributes = new { @class = "form-control", @rows = "4" } })
                                        @Html.ValidationMessageFor(model => model.REMARKS, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Salary</label>
                                        @Html.EditorFor(model => model.BASIC_SALARY, new { htmlAttributes = new { @class = "form-control", @type="number" } })
                                        @Html.ValidationMessageFor(model => model.BASIC_SALARY, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Bonus</label>
                                        @Html.EditorFor(model => model.BONUS, new { htmlAttributes = new { @class = "form-control", @type="number" } })
                                        @Html.ValidationMessageFor(model => model.BONUS, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Others</label>
                                        @Html.EditorFor(model => model.OTHERS, new { htmlAttributes = new { @class = "form-control", @type="number" } })
                                        @Html.ValidationMessageFor(model => model.OTHERS, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary pull-right">Save</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

