@model EMSApp.Models.SALARY_GRADE

@{
    ViewBag.Title = "New Benifit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" style="padding:15px">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">New Benifit</h4>
                <hr />
                <form class="form-material m-t-40">
                    <div class="" style="font-weight:900">@Html.ValidationSummary(true, "", new { @class = "text-danger alert alert-danger" })</div>
                    <div class="row p-t-20">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Benifit</label>
                                @Html.EditorFor(model => model.GRADE_TITLE, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.GRADE_TITLE, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Benifit Action</label>
                                <div class="col-md-10">
                                    @Html.DropDownList("GRADE_TYPE", new SelectListItem[]
                                                                  {
                                                                       new SelectListItem { Text = "Select One", Value="" },
                                                                      new SelectListItem { Text = "Add", Value=EMSApp.Helper.ConstantValue.SalaryGradeAdd },
                                                                      new SelectListItem{ Text="Deduction",Value=EMSApp.Helper.ConstantValue.SalaryGradeDeduct },},
                                                                      htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.GRADE_TYPE, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="form-actions">
                        <div class="btn btn-secondary pull-center">
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>    
}

