@model IEnumerable<EMSApp.Models.TRANSACTION_SHEET>

@{
    ViewBag.Title = "Income List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Income List</h2>

<p>
    @Html.ActionLink("Create New", "IncomeSheetCreate")
</p>
<table class="table">
    <tr>
        <th>Action</th>
        <th>
            Income
        </th>
        <th>
            Voucher No
        </th>
        <th>
            Amount
        </th>
        <th>
            Payment On
        </th>
        <th>
            Date
        </th>
        <th>
            Remark
        </th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "IncomeSheetEdit", new { id = item.TRNS_S_ID }) |
                    @Html.ActionLink("Delete", "ExpenseSheetDelete", new { id = item.TRNS_S_ID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TRANSACTION_ITEM.TRNS_TITLE)
                </td>
                <th>
                    @Html.DisplayFor(model => item.VOUCHER_NO)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.AMOUNT)
                </td>
                <td>
                    @if (item.PAY_TYPE == EMSApp.Helper.ConstantValue.TransactionSheetPayTypeBank)
                    {
                        item.PAY_TYPE = "Bank";
                    }
                    @if (item.PAY_TYPE == EMSApp.Helper.ConstantValue.TransactionSheetPayTypeCash)
                    {
                        item.PAY_TYPE = "Cash";
                    }
                    @Html.DisplayFor(modelItem => item.PAY_TYPE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DATE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.REMARKS)
                </td>
            </tr>
        }
    }

</table>
