@model IEnumerable<EMSApp.Models.SALARY_SETUP>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Action</th>
        <th>
            Employee
        </th>
        <th>
            Payment On
        </th>
        <th>
            Salary
        </th>
        <th>
            Benifites
        </th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.SALARY_SET_ID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EMPLOYEE_INFO.EMPLOYEE_NAME)
                </td>
                @if (item.PAY_TYPE == EMSApp.Helper.ConstantValue.TransactionSheetPayTypeCash)
                {
                    <td>
                        Cash
                    </td>
                }
                @if (item.PAY_TYPE == EMSApp.Helper.ConstantValue.TransactionSheetPayTypeBank)
                {
                    <td>
                        Bank
                    </td>
                }
                @Html.DisplayFor(modelItem => item.PAY_TYPE)

                <td>
                    @Html.DisplayFor(modelItem => item.GROSS_SALARY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SALARY_GRADE_SETUP)
                </td>
            </tr>
        }
    }

</table>
