@model IEnumerable<EMSApp.Models.LEAVE_TYPE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LEAVE_TITLE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REMARKS)
        </th>
        <th>Action</th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LEAVE_TITLE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.REMARKS)
                </td>
                <td>
                    @Html.ActionLink("View", "Edit", new { id = item.LEAVE_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.LEAVE_ID })
                </td>
            </tr>
        }
    }

</table>
