@model IEnumerable<EMSApp.Models.DIVISION_INFO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Action
        </th>
        <th>
            Department
        </th>
        <th>
            Division
        </th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.DIV_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.DIV_ID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DEPARTMENT_INFO.DEPT_TITLE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DIV_TITLE)
                </td>
            </tr>
        }

    }

</table>
